* {margin: 0; padding: 0; box-sizing: border-box;}
header {
    display:flex;
    justify-content: space-between;
    padding: 50px;
    margin: auto;
    align-items: center;
}

.main-menu {
    display: flex;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.6px;
    font-size: medium;
}

nav a {
    margin: 1em;
    color: rgb(26, 26, 26);
    text-decoration: none;
}

nav a:hover {
    color: black;
}

.site-title {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    letter-spacing: 2.6px;
}

.grid-container {
    display: grid;
    gap: .25em;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.image {
    object-fit: cover;
    height: 250px;
    width: 100%;
    display: block;
}

.hover-card {
    position: relative;
}

.hover-card:hover .overlay {
    opacity: .75;
}

.overlay {
    color: black;
    background: #fff;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1em;
    display: grid;
    place-items: center;
    
    transition: all .25s;
    font-family: 'Roboto', sans-serif;
}


@media (max-width: 1050px) {
    .grid-container {
        grid-template-columns: 1fr 1fr; }
}

@media (max-width: 768px) {
    .grid-container { 
        grid-template-columns: 1fr; }
    .site-title {
        font-size: medium;}
    .main-menu{
        font-size: small;}
}


