.grid-container {
    height: 100vh;
    
    display: grid;
    gap: .25em;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 500px) {

    .grid-container {
      grid-template-columns: 1fr 1fr; }}