* {margin: 0; padding: 0; box-sizing: border-box;}
.header {
    display: flex;
    flex-direction: column;
    padding: .5em;
    justify-content:space-between;
}

.main-menu {
    display: flex;
    font-family: 'Barlow', sans-serif;
}
.site-title {
    margin: 1em;
    display: flex;
    font-family: 'Barlow', sans-serif;
}

.grid-container {
    display: grid;
    gap: .25em;
    grid-template-columns: 1fr 1fr 1fr;
  }
.image {
    object-fit: cover;
    height: 250px;
    width: 100%;
    display: block;
}

.hover-card {
    position: relative;
}
.hover-card:hover .overlay {
    opacity: .75;
  }
  .overlay {
    color: black;
    background: #fff;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 2rem;
    display: grid;
    place-items: center;
    
    transition: all .25s;
    font-family: 'Barlow', sans-serif;
  }


  @media (max-width: 1050px) {

    .grid-container {
        grid-template-columns: 1fr 1fr; }
        }

@media (max-width: 768px) {

    .grid-container { 
        grid-template-columns: 1fr; }
      }


