* {margin: 0; padding: 0; box-sizing: border-box;}
header {
    display:flex;
    justify-content: space-between;
    padding: 50px;
    margin: auto;
    align-items: center;
}
.subhead {
    display: grid;
    justify-content: center;
    font-family: 'Irish Grover', cursive;
}
.main-menu {
    display: flex;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.6px;
    font-size: .9em;
}

nav a {
    margin: 1.5em;
    color: rgb(36, 36, 36);
    text-decoration: none;
}

nav a:hover {
    color: rgb(143, 0, 0);
}

.site-title {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    letter-spacing: 2.6px;
}
footer{
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: rgb(170, 170, 170);
}
.footer{
    font-family: 'Roboto', sans-serif;
    font-size:small;
    letter-spacing: 2.6px;
    padding-left: 10px;
}
.footerimage{
    height: 20px;
    width: 20px;
    display: block;
}
.jewelryiglink {
    height: 100px;
}
.links{
    display: flex;
    justify-content: center;
    padding: 25px;
}
.grid-container {
    display: grid;
    gap: .25em;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: large;
}
.image {
    object-fit: cover;
    height: 250px;
    width: 100%;
    display: block;
}
.image2 {
    height: 40%;
    width: 40%;
    object-fit: cover;
}
.hover-card {
    position: relative;
}

.hover-card:hover .overlay {
    opacity: .6;
}

.overlay {
    color: black;
    background: #fff;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1em;
    display: grid;
    place-items: center; 
    transition: all .25s;
    font-family: 'Roboto', sans-serif;
}
.overlay-container {
    position: relative;
    display: flex;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 25px;
    gap: 2em;
    align-items: center;
}
@media (min-width: 769px) {
    .overlay-container {
        transition: .2s ease-in-out;
    }
    .overlay-container:hover {
        transform: scale(1.2);
    }
}
@media (max-width: 1050px) {
    .grid-container {
        grid-template-columns: 1fr 1fr; }
    nav a {
        margin: .8em;
    }
}

@media (max-width: 768px) {
    .grid-container { 
        grid-template-columns: 1fr; }
    .site-title {
        font-size: medium;}
    .main-menu{
        font-size: small;}
    .footer{
        font-size: x-small;
    }
    .overlay-container{
            display: grid;
            position: relative;
            color: rgb(0, 0, 0);
            background: #fff;
            position: relative;
            padding-left: 50px;
            padding-right: 50px;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: 1em;
            place-items: center; 
            font-family: 'Roboto', sans-serif;
    }
    .image2 {
        opacity: .4;
        height: 100%;
        width: 100%;
    }
    .overlay-container p{
        position: absolute;
        margin: 175px;
    }
    nav a {
        margin: .5em;}
}


