* {margin: 0; padding: 0; box-sizing: border-box;}
header {
    display:flex;
    justify-content: space-between;
    padding: 50px;
    margin: auto;
    align-items: center;
}
.subhead {
    display: grid;
    justify-content: center;
    font-family: 'Irish Grover', cursive;
}
.main-menu {
    display: flex;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.6px;
    font-size: .9em;
}

nav a {
    margin: 1.5em;
    color: rgb(36, 36, 36);
    text-decoration: none;
}

nav a:hover {
    color: rgb(143, 0, 0);
}

.site-title {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    letter-spacing: 2.6px;
}
footer{
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: rgb(170, 170, 170);
}
.footer{
    font-family: 'Roboto', sans-serif;
    font-size:small;
    letter-spacing: 2.6px;
    padding-left: 10px;
}
.footerimage{
    height: 20px;
    width: 20px;
    display: block;
}
.grid-container {
    display: grid;
    gap: .25em;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
    
    
p{
    font-family: 'Roboto', sans-serif;;
}
.image {
    object-fit: cover;
    height: 250px;
    width: 100%;
    display: block;
}
.image2 {
    object-fit: cover;
    height: 300px;
    width: 300px;
}
.hover-card {
    position: relative;
}

.hover-card:hover .overlay {
    opacity: .6;
}

.overlay {
    color: black;
    background: #fff;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1em;
    display: grid;
    place-items: center; 
    transition: all .25s;
    font-family: 'Roboto', sans-serif;
}
.overlay-container {
    display: grid;
    position: relative;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    gap: 2em;
}

@media (max-width: 1050px) {
    .grid-container {
        grid-template-columns: 1fr 1fr; }
    nav a {
        margin: .8em;
    }
}

@media (max-width: 768px) {
    .grid-container { 
        grid-template-columns: 1fr; }
    .site-title {
        font-size: medium;}
    .main-menu{
        font-size: small;}
    .footer{
        font-size: x-small;
    }
    
    nav a {
        margin: .5em;}
}


